* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* global style */

section {
  width: 100%;
  height: fit-content;
  height: fit-content;
  display: grid;
  place-items: center;
  position: relative;
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ad5389,
    #3c1053
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ad5389,
    #3c1053
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}
h2 {
  margin-bottom: 15px;
}
h5 {
  text-align: right;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 2rem;
  width: 90%;
  max-width: 1024px;
  place-self: center;
  margin-bottom: 4rem;
}
.bio,
.language,
.contact {
  background: #fff;
  padding: 1rem 2rem;
}
.mySkill,
.education,
.experiences {
  background: #2176ff;
  padding: 1rem 2rem;
  display: grid;
  color: white;
}
.three {
  grid-column: span 3;
}
.html,
.css,
.js {
  width: 100%;
  margin: 20px 0;
  height: 5px;
  background: white;
}
/* end of global style */

/* language-switch */

.language-switch {
  margin-top: 20px;
  position: fixed;
  top: 0;
  right: 10px;
}
.language-switch a {
  color: #fff;
  text-decoration: none;
  background: #000;
  padding: 0.5rem 1rem;
}

/* end of language-switch *
/
/* holder */

.holder {
  line-height: 2rem;
  text-align: center;
  color: white;
  padding: 4rem;
}
/* end of holder */

/* skill */

.skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: space-between;
}

.html > span {
  display: block;
  max-width: 75%;
  height: 100%;
  background: #fdca40;
}
.css > span {
  display: block;
  max-width: 60%;
  height: 100%;
  background: #fdca40;
}
.js > span {
  display: block;
  max-width: 50%;
  height: 100%;
  background: #fdca40;
}

/* end of skill */

/* bio */

.bio p {
  margin: 10px 0;
}
.bio #motto {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

/* end of bio */

/* education */

.education {
  grid-area: 2 / 1 / 2 / 4;
}
.education p {
  margin: 12px 0;
}

/* end of education */

/* language */

.language {
  grid-area: 2 / 4 / 2 / 4;
}
/* end of language */

/* contact */

.contact {
  grid-area: 3 / 1 / 3 / 3;
}
.contact .location {
  display: flex;
  margin: 10px 0;
}
.contact span,
.contact a {
  margin-left: 5px;
}
.contact .mail {
  display: flex;
  margin: 10px 0;
}
.contact a {
  color: black;
  text-decoration: none;
}

/* end of contact */

/* experiences */
.experiences {
  grid-area: 3 / 3 / 3 / 5;
}
.aoi:first-of-type p {
  margin: 10px 0;
}
/* end of experiences */

/* copyright */

.copyright {
  color: #fff;
}
.copyright .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.copyright .icon a {
  text-decoration: none;
  color: #fdca40;
  font-size: 2rem;
  transition: 0.5s all ease-in-out;
}
.copyright .icon a:hover {
  transform: rotate(360deg);
  color: #fff;
}
.copyright .icon:first-of-type a {
  margin-left: 10px;
}

/* end of copyright */

/* media query */

@media only screen and (min-width: 560px) and (max-width: 840px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(90vw, auto));
  }
  .three {
    grid-column: span 1;
  }
  .education {
    grid-area: 3 / 1 / 3 / 2;
  }
  .language {
    grid-area: 4 / 1 / 4 / 2;
  }
  .contact {
    grid-area: 5 / 1 / 5 / 2;
  }
  .experiences {
    grid-area: 6 / 1 / 6 / 2;
  }
}
@media only screen and (min-width: 390px) and (max-width: 560px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 500px));
  }
  .three {
    grid-column: span 1;
  }
  .education {
    grid-area: 3 / 1 / 3 / 2;
  }
  .language {
    grid-area: 4 / 1 / 4 / 2;
  }
  .contact {
    grid-area: 5 / 1 / 5 / 2;
  }
  .experiences {
    grid-area: 6 / 1 / 6 / 2;
  }
}

@media only screen and (max-width: 390px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .three {
    grid-column: span 1;
  }
  .education {
    grid-area: 3 / 1 / 3 / 2;
  }
  .language {
    grid-area: 4 / 1 / 4 / 2;
  }
  .contact {
    grid-area: 5 / 1 / 5 / 2;
  }
  .experiences {
    grid-area: 6 / 1 / 6 / 2;
  }
}

/* end of media query */
